
@(items: List[Item], user: User)

@import helper._

@main("complated", user) {
         
        <div class="row">
                <div class="col-12 center-block">
                    <center>
                           
                    <h2>Completed</h2>     
                   

                     <hr>
                     


                      @for(f <- items){

                       
                        
                             @defining(true) { compare =>  
                                 @if(f.getCompleted()== compare) {
                           
                                    <div class="card border-dark mb-3" style="max-width: 25rem;">
                                            
                                            
                                            <div class="card-body">
                                                    <div style="clear: both">
                                                            <strike><h5 style="float: center">@f.getMessage()</h5></strike>
                                                            <p style="float: center">@f.getDateCompleted()</p>
                                                            
                                                        </div>
                                                        <hr />
                                          
                                            <a href="@routes.HomeController.delete(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(f.getId())" class="btn btn-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>
                                        </div>
                                    </div>

                                 
                                }
                            }

                              
                        }

                    

                     

                            </center>
                            </div>

          
        
               
           
}
