
@(items: List[Item], itemForm: Form[Item])

@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>

            
        <title>title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item">
        <a class="nav-link" href=".">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/completed">completed</a>
      </li>
    </ul>
    
  </div>
</nav>



         
        <div class="row">
                <div class="col-12 center-block">
                    <center>
                            <br>
                            @form(action=routes.HomeController.submit(), 'class -> "form-hotizontal", 'role -> "form") {
                                @CSRF.formField
                                <form class="form-inline" action=routes.HomeController.submit()>
                                     <div class="form-group">
                               
                                @inputText(itemForm("message"),'_label -> "Add new item", 'size -> 40)
                                
                    
                                <input type="submit" value="Add task" class="btn btn-secondary">
                    
                                 
                                 </div>
                                </form>                
                            
                            }
                            
                    <h3>Due today</h3>
                             

                     @for(a <- items){

                       
                       @if(a.isToday() == true){

                           @defining(false) { compare =>  
                                 @if(a.getCompleted()== compare) {
                                    <div class="card border-primary mb-3" style="max-width: 30rem;">
                                           
                                            
                                            <div class="card-body">
                                            
                                            <h2 class="card-title text-dark">@a.getMessage()</h2>

                                            
                                                <a href="@routes.HomeController.delete(a.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(a.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>
                                             
                                            
                                        </div>
                                    </div>
                                 }
                           }
                           
                  

                        }

                     }

                     <hr>
                     <h3>Due in future</h3>


                      @for(f <- items){

                       
                        @if(f.isToday() == false){

                           
                            @defining(false) { compare =>  
                                 @if(f.getCompleted()== compare) {
                                    <div class="card border-primary mb-3" style="max-width: 25rem;">
                                            
                                            
                                            <div class="card-body">
                                            <h5 class="card-title text-dark">@f.getMessage()</h5>
                                            <a href="@routes.HomeController.delete(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>
                                        </div>
                                    </div>

                                 }
                          
                            }
                        }

                      }

                     

                            </center>
                            </div>

          
        
               
           

    </body>
</html>
