
@(items: List[Item], itemForm: Form[Item], cat: List[Category], user: User)

@import helper._

@main("home", user) {

    <script>
        var weather = new XMLHttpRequest();
        var city = "";
	city = "@user.getCity()";
        weather.open("GET", "https://api.openweathermap.org/data/2.5/find?q=" + city + "&units=metric&appid=8bbdccfff8927111b6c3cb756294790b", false);
        weather.send(null);
    
        var r = JSON.parse(weather.response);
        var h = r.list["0"].main.temp;
    
    
     </script>

         
        <div class="row">
                <div class="col-12">
                    <center>
                            @if(flash.containsKey("emptyMessage")) {
                                <div class="alert alert-warning">
                                @flash.get("emptyMessage");
                                </div>
                            }
                            <h2>
                                The current temperature is:
                                    <script>document.write(h)</script>
                                

                            </h2>
                            <br>
                            @form(action=routes.HomeController.submit(), 'class -> "form-hotizontal", 'role -> "form") {
                                @CSRF.formField
                                <form class="form-inline" action=routes.HomeController.submit()>
                                     <div class="form-group">

                                     
                               
                                @inputText(itemForm("message"),'_label -> "Add New Task", 'size -> 40, 'placeholder -> "Add task here")

                    
                                <input type="submit" value="Add task" class="btn btn-outline-primary">
                    
                                 
                                 </div>
                                </form>  
                                            
                            
                            }
                     
                    <center> 
                     <a href="@routes.HomeController.index(0)">All |</a>
                     @for(c <- cat){
                    <a href="@routes.HomeController.index(c.getId)">@c.getName() |</a>

                    }    
                    <hr>
                </div> 
            
                <div class="col-6">
                    <center>
                    
                    <h3>Due today</h3>


                     @for(a <- items){
                         
                       
                       @if(a.isToday() == true){

                           @defining(false) { compare =>  
                                 @if(a.getCompleted()== compare) {
                                    <div class="card border-dark mb-3" style="max-width: 27rem;">
                                           
                                            
                                            <div class="card-body">
                                            
                                                <div style="clear: both">
                                                    <h5 style="float: center">@a.getMessage()</h5>
                                                     
                                                    @if(a.getCat() != null){
                                                    <p style="float: center">@a.getCat().getName()</p>
                                                    } else{
                                                        <p>No category selected</p>
                                                       }
                                                     
                                                </div>
                                                <hr />

                                            
                                                <a href="@routes.HomeController.delete(a.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(a.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>

                                                <a href="@routes.HomeController.edit(a.getId())" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fas fa-edit"></i></a>
                                             
                                            
                                        </div>
                                    </div>
                                 }
                           }
                           
                  

                        }

                     }
                     
                                    </div>
                    <div class="col-5">
                    <center>
                     <h3>Due in future</h3>


                      @for(f <- items){

                       
                        @if(f.dueFuture() == true){

                           
                            @defining(false) { compare =>  
                                 @if(f.getCompleted()== compare) {
                                    <div class="card border-dark mb-3" style="max-width: 27rem;">
                                            
                                            
                                            <div class="card-body">
                                                <div style="clear: both">
                                                    <h5 style="float: center">@f.getMessage()</h5>
                                                    @if(f.getCat() != null){
                                                        <p style="float: center">@f.getCat().getName()</p>
                                                        } else{
                                                            <p>No category selected</p>
                                                            }
                                                            
                                                    
                                                </div>
                                                <hr />
                                            <a href="@routes.HomeController.delete(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>

                                                <a href="@routes.HomeController.edit(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fas fa-edit"></i></a>
                                        </div>
                                    </div>

                                 }
                          
                            }
                        }

                      }

                     

                            </center>
                            </div>

       
               
           

}

