
@(userForm: Form[Login], user: User)



@import helper._

@main("home", user) {

         
        <div class="row">
                <div class="col-12 center-block">
                    <center>
                            @if(flash.containsKey("emailError")) {
                                <div class="alert alert-warning">
                                  @flash.get("emailError");
                                </div>
                              }
                            <br>
                            <h2>Login or <a href="@routes.HomeController.register">Register</a></h2> 
                            @form(action=routes.HomeController.submitLogin(), 'class -> "form-hotizontal", 'role -> "form") {
                                @CSRF.formField
                                <form class="form-inline" action=routes.HomeController.submit()>
                                <div class="form-group">
                               
                                @inputText(userForm("email"),'_label -> "email", 'size -> 40, 'placeholder -> "email")
                                @inputPassword(userForm("pass"),'_label -> "password", 'size -> 40, 'placeholder -> "password")

                    
                                <input type="submit" value="Login" class="btn btn-secondary">

                            }
                    
   
}
