
@(items: List[Item], user: User)

@import helper._

@main("overdue tasks", user) {
         
        <div class="row">
                <div class="col-12 center-block">
                    <center>
                           
                    <h2>Overdue</h2>     
                     <hr>
                     
                      @for(f <- user.getItems()){
                        @if(f.getCompleted()== false) {
                             @defining(true) { compare =>  
                                 @if(f.hasDatePassed()== compare) {
                           
                                    <div class="card border-dark mb-3" style="max-width: 25rem;">
   
                                            <div class="card-body">
                                                    <div style="clear: both">
                                                            <h5 style="float: center">@f.getMessage()</h5>
                                                           
                                                           
                                                        </div>
                                                        <hr />
                                          
                                            <a href="@routes.HomeController.delete(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="far  fa-trash-alt"></i></a>
                                                </a>

                                                 <a href="@routes.HomeController.changeStatus(f.getId())" class="btn btn-outline-secondary btn-sm">
                                                <i class="fas fa-check"></i></a>
                                        </div>
                                    </div>
                                 
                                }
                            }
                              
                        }
                    
                    }
                     

                            </center>
                            </div>

          
        
               
           
}